.card {
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 10px;
  padding: 14px;
}

/* Farvet result-box (beholder din logik) */
.leftFlank {
  background-color: #d20d2e;
  color: white;
}

.rightFlank {
  background-color: #0f0a97;
  color: white;
}

.base {
  background-color: #007233;
  color: white;
}