.card {
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 10px;
  padding: 14px;
}

.leftFlank {
  background-color: #d20d2e;
  color: white;
}

.rightFlank {
  background-color: #0f0a97;
  color: white;
}

.base {
  background-color: #007233;
  color: white;
}

.form button {
  padding: 10px 12px;
  border: 1px solid #aaa;
  border-radius: 8px;
  background: #08823b;
  cursor: pointer;
  width: 100%;
  max-width: none;
}

.form button:hover {
  background: rgb(222, 153, 64);
}