html, body {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 0;
  text-align: left;
}


.appContent {
  padding: 16px;
   padding-top: 72px;
   background-color: rgb(185, 182, 180);
}

.appTitle {
font-weight: 900;
  color: #003b0c;
text-align: center;
background-color: rgb(222, 153, 64);
}